* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(3, 0, 31);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.sideBar {
  flex: 3;
  /* border-right: 1px solid rgb(100, 100, 100); */
  background-color: #171717;
}

.logo {
  margin-right: 1rem;
}

.brand {
  font-size: 2rem;
}

.upperSide {
  padding: 2.5rem;
  /* border-bottom: 1px solid rgb(100, 100, 100); */
  height: 70%;
}

.upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}


.addBtn {
  height: 2rem;
  padding-right: 1rem;
}

.midBtn {
  background: #5a4bff;
  border: none;
  color: wheat;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
}

.query {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgba(98, 98, 98, 1);
  color: rgba(222, 222, 222, 1);
  font-size: 1.25em;
}

.query>img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.75rem;
}

.lowerSide {
  padding: 2rem;
}

.listItems{
  margin: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.listItemsImg {
  margin: 1rem;
  padding-right: 1rem;
}

.listItems:nth-child(1)>.listItemsImg {
  margin-right: 0.5rem;
}

.listItems:nth-child(2)>.listItemsImg {
  margin-right: 1rem;
}

.listItems:nth-child(3)>.listItemsImg {
  margin-right: 0.7rem;
}

.main {
  flex: 9;
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 8rem;
  padding-bottom: 0rem;
  background-color: #212121;
}

.chats {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 65%;
  max-width: 100rem;
  height: calc(100vh - 17rem);
}

.chats::-webkit-scrollbar {
  display: none;
}

.chat {
  margin: 1rem 0rem;
  padding: 2rem 3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.chatImg {
  object-fit: cover;
  width: 3rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.bot {
  background-color: #0d0d0d;
  width: fit-content;
  border-radius: 0.5rem;
}

.chatFooter {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inp {
  padding: 0.5rem;
  background-color: #2f2f2f;
  border-radius: 2rem;
  width: 70%;
}

.inp .text {
  width: 100%;
  font-size: 1.6rem;
}

.inp input::placeholder {
  color: #d4d4d4;
}


.inp>input {
  width: calc(100% -3rem);
  outline: none;
  padding: 1.25rem;
  color: white;
}

.inp>input, .send {
  background: transparent;
  border: none;
}

.chatFooter> p{
  margin: 2rem 0rem;
  color: rgb(180, 180, 180);
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
}